name: "deploy"

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    tags-ignore: [ "**" ]

concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true

jobs:
  build:
    runs-on: "ubuntu-latest"
    environment:
      name: "production"
      url: "https://webui.advntr.dev"
    steps:
      - name: "setup env"
        id: "setup"
        uses: "KyoriPowered/ci-cookbook/actions/setup-java-env@ce1dea3f90f8e361ed19afb2c914ab0fdcf42fef" # 2025.12.18
        with:
          runtime_version: 21
          publishing_branch_regex: "main"
          gradle_warning_mode: "all"
      - name: "setup / login to ghcr"
        uses: "docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef" # v3.6.0
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"
      - name: "publish / docker image"
        run: ./gradlew jib -Djib.console=plain --stacktrace
